html,body{
	font-size: 1em;
}

.sort-option{	
}

#leftcolumn{
	float: left;
	width: 200px;
	margin-left: -100%;	
}

#contentcolulm {
	margin: 0 0 0 200px;
}

.div-bordered{
	border-width: 1px;
	border-color: black;
}

.l-table{
	display:table;         
 	width:auto;         
  	background-color:#eee;         
  	border:1px solid  #1aa;         
  	border-spacing:0;/*cellspacing:poor IE support for  this*/
}

.l-cell{
	float:left;/*fix for  buggy browsers*/
  	display:table-cell;         
  	width:100px;
  	white-space: nowrap;
  	overflow: hidden;
  	border-color: #999;
  	border-left-width: 1px;  
  	border-top-width: 1px;
  	border-bottom-width: 0;
  	border-right-width: 0;
  	border-style: solid;	
  	padding: 3px;
}

.l-row{
	display:table-row;  	
}

.l-row:nth-child(odd){
	background-image: -webkit-linear-gradient(top, #abd, #deF, #abd);	
}

.l-row:nth-child(even){
	background-image: -webkit-linear-gradient(top, #2192CB, #15B3CB, #2192CB);	
}

.ui-selected:nth-child(odd){
	background-image: -webkit-linear-gradient(top, #113F6D, #175696, #113F6D);	
	color:white;
}

.ui-selected:nth-child(even){
	background-image: -webkit-linear-gradient(top, #113F6D, #175696, #113F6D);	
	color:white;
}

.ui-widget{
	font-family: Arial,sans-serif,Verdana;
	font-size: 0.8em;
	width: 102px;
}
.ui-button-text-only .ui-button-text{
	padding: 0.1em 0.1em;	
}

.detail-info{
	display: none;
}

.l-cell-bool{
	text-align: center;
}

@media screen and (max-width: 800px) {
	.not-important{
		display: none;
	}

	.l-row{
		display:table-row;
	  	width:auto;	 	
	}

	.l-row:hover .detail-info {
		display: block;
		clear: both;
	}
}

