html,body{
	font-size: 1em;
}

.sort-option{
	
}

#leftcolumn{
	float: left;
	width: 200px;
	margin-left: -100%;	
}

#contentcolulm{
	margin: 0 0 0 200px;
}

.div-bordered{
	border-width: 1;
	border-color: black;
}

.l-table{
	display:table;         
 	width:auto;         
  	background-color:#eee;         
  	border:1px solid  #666666;         
  	border-spacing:2px;/*cellspacing:poor IE support for  this*/
}

.l-cell{
	float:left;/*fix for  buggy browsers*/
  	display:table-cell;         
  	//width:100px;
  	white-space: nowrap;
  	overflow: hidden;
  	border-color: #555555;
  	border-width: 1px;  
  	border-style: solid;	
  	padding: 1,1,1,1;
}

.l-row{
	display:table-row;
  	width:auto;
 	/*clear:both;*/
 	/*background-color:#cdF; */
}

.l-row:nth-child(odd){
	background-color:#cdF;	
}

.lrow:nth-child(even){
	background-color:#ffa;
}

.l-table{
	display:table;         
 	width:auto;         
  	background-color:#eee;         
  	border:1px solid  #666666;         
  	border-spacing:2px;/*cellspacing:poor IE support for  this*/
}

.ui-selected:nth-child(even){
	background-color: #88aaff;
	color:white;
}

.ui-selected:nth-child(odd){
	background-color: #4699aa;
	color:white;
}

@media screen and (max-width: 800px) {
	.not-important{
		display: none;
	}
}

@media screen and (max-width: 800px) {

}